<h1>Please enter your Login Credentials</h1>

<%= form_for @user, url: login_path do |f| %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Sign in" %>

  <% end %>