<%= form_for @assistance_exercise do |f| %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :reps1 %>
  <%= f.text_field :reps1 %>
</div>

<div>
  <%= f.label :weight1 %>
  <%= f.text_field :weight1 %>
</div>

<div>
  <%= f.label :reps2 %>
  <%= f.text_field :reps2 %>
</div>

<div>
  <%= f.label :weight2 %>
  <%= f.text_field :weight2 %>
</div>

<div>
  <%= f.label :reps3 %>
  <%= f.text_field :reps3 %>
</div>

<div>
  <%= f.label :weight3 %>
  <%= f.text_field :weight3 %>
</div>

<%= f.submit %>

<% end %>